---
import config from "@/config/config.json";
import { IoLogoFacebook, IoLogoLinkedin, IoLogoTwitter } from "react-icons/io5";

const { base_url }: { base_url: string } = config.site;
const {
  title,
  description,
  slug,
  className,
}: { title?: string; description?: string; slug?: string; className?: string } =
  Astro.props;
---

<ul class={`${className}`}>
  <li class="inline-block">
    <a
      aria-label="แชร์ไปยัง Facebook"
      href={`https://facebook.com/sharer/sharer.php?u=${base_url}/${slug}`}
      rel="noreferrer noopener"
      target="_blank"
    >
      <IoLogoFacebook />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="แชร์ไปยัง X (Twitter)"
      href={`https://twitter.com/intent/tweet/?text=${title}&amp;url=${base_url}/${slug}`}
      rel="noreferrer noopener"
      target="_blank"
    >
      <IoLogoTwitter />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="แชร์ไปยัง LinkedIn"
      href={`https://www.linkedin.com/shareArticle?mini=true&url=${base_url}/${slug}&title=${title}&summary=${description}&source=${base_url}`}
      rel="noreferrer noopener"
      target="_blank"
    >
      <IoLogoLinkedin />
    </a>
  </li>
</ul>
