---
import ProjectCard from "@/components/ProjectCard.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getListPage, getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import PageHeader from "@/partials/PageHeader.astro";

const PROJECT_FOLDER = "projects";
const { slug } = Astro.params;

const projectIndex = await getListPage(PROJECT_FOLDER, "-index");

if (projectIndex.data.draft) {
  return Astro.redirect("/404");
}

const projects = await getSinglePage(PROJECT_FOLDER);
const sortedProjects = sortByDate(projects);
const totalPages: number =
  Math.ceil(sortedProjects.length / config.settings.pagination) || 1;
const currentPage = slug && !isNaN(Number(slug)) ? Number(slug) : 1;
const indexOfLastItem = currentPage * config.settings.pagination;
const indexOfFirstItem = indexOfLastItem - config.settings.pagination;
const currentProjects = sortedProjects.slice(indexOfFirstItem, indexOfLastItem);

export async function getStaticPaths() {
  const PROJECT_FOLDER = "projects";
  const projects = await getSinglePage(PROJECT_FOLDER);
  const totalPages = Math.ceil(projects.length / config.settings.pagination);
  const paths = [];

  for (let i = 1; i < totalPages; i++) {
    paths.push({
      params: {
        slug: (i + 1).toString(),
      },
    });
  }
  return paths;
}
---

<Base
  description={projectIndex.data.description}
  image={projectIndex.data.image}
  meta_title={projectIndex.data.meta_title}
  title={projectIndex.data.title}
>
  <PageHeader title={projectIndex.data.title} />
  <section class="section">
    <div class="container">
      <div class="row">
        {
          currentProjects.map((project) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <ProjectCard data={project} />
            </div>
          ))
        }
      </div>
      <div class="mt-10 text-center">
        <Pagination
          currentPage={currentPage}
          section={PROJECT_FOLDER}
          totalPages={totalPages}
        />
      </div>
    </div>
  </section>
</Base>
