---
import ShowcaseCard from "@/components/ShowcaseCard.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getListPage, getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import PageHeader from "@/partials/PageHeader.astro";

const PROJECT_FOLDER = "projects";
const projectIndex = await getListPage(PROJECT_FOLDER, "-index");

if (projectIndex.data.draft) {
  return Astro.redirect("/404");
}

const projects = await getSinglePage(PROJECT_FOLDER);
const sortedProjects = sortByDate(projects);
const itemsPerPage = config.settings.pagination;
const totalPages: number =
  Math.ceil(sortedProjects.length / itemsPerPage) || 1;
const currentProjects = sortedProjects.slice(0, itemsPerPage);
---

<Base
  description={projectIndex.data.description}
  image={projectIndex.data.image}
  meta_title={projectIndex.data.meta_title}
  title={projectIndex.data.title}
>
  <PageHeader title={projectIndex.data.title} />
  <section class="section">
    <div class="container">
      <div class="row">
        {
          currentProjects.map((project) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <ShowcaseCard data={project} />
            </div>
          ))
        }
      </div>
      <div class="mt-10 text-center">
        <Pagination
          currentPage={1}
          section={PROJECT_FOLDER}
          totalPages={totalPages}
        />
      </div>
    </div>
  </section>
</Base>
