---
import ShowcaseCard from "@/components/ShowcaseCard.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getListPage, getSinglePage } from "@/lib/contentParser.astro";
import { sortByDate } from "@/lib/utils/sortFunctions";
import PageHeader from "@/partials/PageHeader.astro";

const SHOWCASE_FOLDER = "showcase";
const showcaseIndex = await getListPage(SHOWCASE_FOLDER, "-index");

if (showcaseIndex.data.draft) {
  return Astro.redirect("/404");
}

const showcases = await getSinglePage(SHOWCASE_FOLDER);
const sortedShowcases = sortByDate(showcases);
const itemsPerPage = config.settings.pagination;
const totalPages: number =
  Math.ceil(sortedShowcases.length / itemsPerPage) || 1;
const currentShowcases = sortedShowcases.slice(0, itemsPerPage);
---

<Base
  description={showcaseIndex.data.description}
  image={showcaseIndex.data.image}
  meta_title={showcaseIndex.data.meta_title}
  title={showcaseIndex.data.title}
>
  <PageHeader title={showcaseIndex.data.title} />
  <section class="section">
    <div class="container">
      <div class="row">
        {
          currentShowcases.map((showcase) => (
            <div class="mb-14 md:col-6 lg:col-4">
              <ShowcaseCard data={showcase} />
            </div>
          ))
        }
      </div>
      <div class="mt-10 text-center">
        <Pagination
          currentPage={1}
          section={SHOWCASE_FOLDER}
          totalPages={totalPages}
        />
      </div>
    </div>
  </section>
</Base>
